a {
    text-decoration: none;
}
.page {
    min-height: 100vh;
    background-color: #F5F3FF;
}
.dark .page{
    background-color: #374151;
}
.input_field {
    /*background-color: #bfa;*/
    margin-top: 5vh;
    height: 13vh;
}
.table {
    /*background-color: #58c;*/
    margin-top: 3vh;
}
.diagram {
    /*background-color: orange;*/
    margin-top: 3vh;
}
.top {
    /*background-color: red;*/
}

