#error {
    margin: 2vh 0 !important;
    background-color: #F9CACA;
    box-shadow: 0.2vw 0.5vh 0.5vh #EBE4FE;
    border-radius: 2vh;
}
.dark #error {
    background-color: #292524;
    box-shadow: none;
}
#error_text {
    background-color: #F5A5A5;
    padding: 0 14px;
    /*height: 5vh;*/
    width: 5rem;
    border-radius: 2vh 0 1vh 0;
    color: #D22524;
    letter-spacing: .03em;
}
.dark #error_text {
    background-color: #121A29;
    color: #E5E7EB;
}
#error_content {
    padding: 1vh 10vw;
    color: #D22524;
}
.dark #error_content {
    color: #E5E7EB;
}
