#note {
    margin: 2vh 0 !important;
    background-color: #DCD6FF;
    box-shadow: 0.2vw 0.5vh 0.5vh #EBE4FE;
    border-radius: 2vh;
}
#venn_container{
    text-align: center;
    height: 700px;
    
}
.dark #note {
    background-color: #1F2937;
    box-shadow: none;
}
#note_text {
    background-color: #C3B6FE;
    padding-left: 10px;
    padding-bottom: 4px;
    width: 3.5rem;
    border-radius: 2vh 0 1vh 0;
    color: #783EEF;
    letter-spacing: .03em;
}
.dark #note_text {
    background-color: #121A29;
    color: #E5E7EB;
}
#note_content {
    padding: 1vh 4vw;
    color: #783EEF;
}
.dark #note_content {
    color: #E5E7EB;
}
#note_form {
    padding: 0 1rem;
    background-color: #DCD6FF;
    color: black;
}
.dark #note_form {
    background-color: #1F2937;
    color: #E5E7EB;
}

#venn {
    margin: 2vh 0 !important;
    background-color: #DCD6FF;
    box-shadow: 0.2vw 0.5vh 0.5vh #EBE4FE;
    border-radius: 2vh;
    height: 700px
    
}
.dark #venn {
    background-color: #1F2937;
    box-shadow: none;
}
#venn_text {
    background-color: #C3B6FE;
    padding-left: 10px;
    padding-bottom: 4px;
    width: 8rem;
    border-radius: 2vh 0 1vh 0;
    color: #783EEF;
    letter-spacing: .03em;
}
.dark #venn_text {
    background-color: #121A29;
    color: #E5E7EB;
}
#venn_content {
    padding: 1vh 10vw;
    color: #783EEF;
    text-align: center;
    height: 650px;
    
}
.dark #venn_content {
    color: #E5E7EB;
}

#make_a_note {
    color: #783EEF;
}
.dark #make_a_note {
    color: #E5E7EB;
}

svg{
    width: 700px;
    height: 650px;
    
}

