#input_text_field {
    color: #783EEF;
    padding-left: 10vw !important;
    background-color: #DCD6FF;
    box-shadow: 0.2vw 0.5vh 0.5vh #EBE4FE;
    border-radius: 2vh;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: .05em;
}
.dark #input_text_field {
    background-color: #1F2937;
    box-shadow: none;
    color: #8C9199;
}

#text_field_control {
    width: 100%;
    display: flex;
}

#evaluate_button {
    margin-left: 1vw;
    margin-right: 1vw;
}
#venn_label {
    color: #7C3AED;
}
.dark #venn_label {
    color: #E5E7EB;
}
#note_label {
    color: #7C3AED;
}
.dark #note_label {
    color: #E5E7EB;
}

