* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#input_text_field {
  padding-left: 10vw !important;

  box-shadow: 0.2vw 0.5vh 0.5vh #ebe4fe;
  border-radius: 2vh;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.05em;
  background-color: #f5f5f5;
}
.dark #input_text_field {
  background-color: #1f2937;
  box-shadow: none;
  color: #8c9199;
}

#text_field_control {
  width: 100%;
  display: flex;
}

#evaluate_button {
  margin-left: 1vw;
  margin-right: 1vw;
}

.dark #note_label {
  color: #e5e7eb;
}
