#top_container {
    padding-top: 2vh;
}

.header {
    margin: 0 0 2vh 0 !important;
    background-color: #DCD6FF;
    padding: 3vh 10vw !important;
    box-shadow: 0.2vw 0.5vh 0.5vh #EBE4FE;
    border-radius: 2vh;
}
.dark .header {
    background-color: #1F2937;
    color: #E5E7EB;
    box-shadow: none;
}

.icon {
    margin: 0 2vw;
}

.logo {
    color: #783EEF;
    font-size: 1.5rem;
    font-weight: bold;
}
.dark .logo {
    color: #E5E7EB;
}

#github_icon {
    color: #783EEF;
}
.dark #github_icon {
    color: #E5E7EB;
}

#github_icon_button {
    width: 42px;
    height: 42px;
}

#info_button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background-color: #DCD6FF;
    color: #783EEF;
}
.dark #info_button {
    background-color: #1F2937;
    color: #E5E7EB;
}

.instructions {
    margin: 2vh 0 !important;
    background-color: #DCD6FF;
    padding: 1vh 10vw !important;
    box-shadow: 0.5vw 0.5vh 0.5vh #EBE4FE;
    border-radius: 2vh;
}
.dark .instructions {
    box-shadow: none;
    background-color: #1F2937;
    color: #E5E7EB;
}

#info-collapse-text {
    background-color: #DCD6FF;
}
.dark #info-collapse-text {
    background-color: #1F2937;
    color: #E5E7EB;
}
